{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <a href="/members/create">Novo +</a>
    <table width="100%">
        <thead>
            <tr>
                <th>Membros</th>
                <th>Email</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Ação</th>
                
            </tr>
        </thead>
   
        <tbody>
        {% for members in member %}
            <tr>
                <td>
                    <span style="background-image: url({{members.avatar_url}})"> </span>
                    {{ members.name }}
                </td>
                <td>{{ members.email }}</td>
                <td>{{ members.weight }}Kg</td>
                <td>{{ members.height }}cm</td>
                <td><a href="/members/{{members.id}}">Ver</a></td>
            </tr>
        {% endfor %}
        </tbody>
   </table>
</div>

{% endblock content %}